/* Add splash of color and hifghlight */
:root {
  --accent-header: rgb(181, 86, 145);
  --accent-link: rgb(163, 2, 98);
}

.dark {
  --accent-header: rgb(163, 2, 98);
  --accent-link: rgb(181, 86, 145);
}

h1, h2, h3, h4, h5, h7 {
  color: var(--accent-header);
}

strong, b, a {
  color: var(--accent-link);
}

/* Reset misc links to default colors */
.terms-tags a {
  color: var(--primary) !important;
}

.post-tags a,
.top-link a {
  color: var(--secondary) !important;
}

/* front page */
.entry-content img {
  max-height: 400px;
  max-width: 80%;
  margin: auto;
  display: block;
  margin-bottom: .5em;
  clip-path: circle();
}

.entry-content p {
  margin-bottom: 1em;
}

/* Posts formats */
.toc {
  font-size: 0.85em;
}

.post-content img {
  float: right;
}

.post-content h2 {
  margin-top: 2em !important;
}

.footnotes {
  font-size: 0.75em;
}

.nocomment {
  margin-top: 32px;
}

.nocomment h2 {
  margin-top: var(--content-gap);
}

/* Reduce excessive spacing for nested lists */
.post-content li > ul,
.post-content li > ol {
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}
