/* Reduce max of ALL content ~20% */
.app-container {
  max-width: 50rem !important;
}

.nocomment {
  margin-top: 42px;
}

strong, b {
  color: #EF7627 !important;
}

.post-content a {
  text-decoration: underline;
}
